/* Page dimension */

#All_Page {
    margin: 2.5%;
}

@font-face {
    font-family: 'Raleway';
    src: url(Raleway.eot);
}

body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

h4 {
    font-weight: bold;
}


/* Header */

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#logo_encre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

#logo_titre {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap row;
}

header img {
    height: 3em;
    width: 7em;
    margin-bottom: 10px;
}

#Titre_top {
    display: flex;
    flex-direction: column;
}

#Titre_top h3 {
    margin-bottom: -10px;
}


/*nav*/

nav {
    display: flex;
    font-size: 1.25em;
}

.encre2:hover {
    color: #0065FC;
    border-top: solid 3px #0065FC;
    padding-top: 30px;
}

.inscription:hover {
    text-shadow: 1px 1px 2px gray;
}

.encre {
    margin-left: 50px;
}

.inscription {
    color: #0065FC
}


/*recherche*/

#recherch_filtre {
    display: flex;
    flex-direction: column;
    flex-flow: wrap row;
}

#recherche {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.map {
    border: solid #F2F2F2 3px;
    border-radius: 10px 0 0 10px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    font-size: 1.15em;
}

#recherche p {
    border: solid #0065FC;
    border-radius: 0 10px 10px 0;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    display: flex;
    align-items: center;
    background-color: #0065FC;
    color: white;
}

#recherche input {
    border: solid #F2F2F2 2px;
    margin: 0px;
    height: 40px;
    width: 200px;
    font-size: 1.25em;
    text-align: center;
    color: black;
}

.recherche_mobile {
    display: none;
}


/*filtres*/

#block_filtre {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#filtres {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    align-items: center;
}


/*Button création */

.button {
    border: solid 3px #F2F2F2;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    width: auto;
    height: 40px;
    border-radius: 20px;
    margin: 20px;
    padding-right: 10px;
    align-content: center;
}

.size_fontawesom {
    border: solid #DEEBFF;
    border-radius: 20px;
    background-color: #DEEBFF;
    color: #0065FC;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8.5px;
    margin-left: -3px;
}

#all-filters {
    display: flex;
    flex-flow: wrap row;
}

.button p {
    font-weight: bold;
    padding-left: 10px;
    font-size: 1.25em;
}

#i_500 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.i {
    border: solid #F2F2F2 2px;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #0065FC;
    font-size: 0.75em;
}

.button:hover {
    filter: opacity(50%);
    -webkit-filter: opacity(50%);
}

.button:active {
    filter: opacity(50%);
    -webkit-filter: opacity(50%);
    background-color: #DEEBFF;
    border: solid 3px #DEEBFF;
}


/*Block_hebergement*/

section {
    display: flex;
    flex-flow: wrap-reverse;
    justify-content: space-between;
    width: 100%;
}

article {
    background-color: #F2F2F2;
    width: 65%;
    min-height: 600px;
    border-radius: 20px;
    padding: 20px 0 10px 0;
}

article h2 {
    margin-left: 45px;
}

article h3 {
    margin-left: 45px;
}

#block1 {
    min-height: 450px;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    margin: 0 40px 0 40px;
}

.carte1 {
    min-height: 200px;
    width: 28%;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-shadow: 4px 4px 12px #F2F2F2, -1px -1px 0 #F2F2F2;
    border-radius: 20px;
    margin: 20px 10px 20px 10px;
    padding: 4px;
}

.carte1 img {
    height: 7em;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.test_99 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5px;
}

.test_99 p {
    font-size: 0.90em;
    height: auto;
    margin-top: -20px;
}

.test_reussi {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    margin-top: -15px;
}

aside {
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 30%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
}

#titre_pop {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 20px 30px 20px 45px;
}

#block_populaire {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 500px;
    margin: 0 45px 20px 45px;
}

.carte_populaire {
    height: 140px;
    width: 100%;
    background-color: white;
    display: flex;
    box-shadow: 4px 4px 12px #F2F2F2, -1px -1px 0 #F2F2F2;
    border-radius: 20px;
    padding: 1%;
}

.carte_populaire img {
    width: 7.5em;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    overflow: hidden;
    margin-right: 10px;
}

.info_pop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5px;
}

.titre_pop {
    margin-top: -10px;
}

.info_pop p {
    font-size: 0.9em;
    margin-top: -10px;
}


/*Block_Activité*/

#all_carte_activ {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    align-content: space-between;
}

.carte_activ1 {
    box-shadow: 4px 4px 12px #F2F2F2, -1px -1px 0 #F2F2F2;
    width: 300px;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 40px;
}

.carte_activ1 img {
    display: flex;
    align-self: center;
    height: auto;
    width: auto;
    position: relative;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

.carte_activ2 {
    box-shadow: 4px 4px 12px #F2F2F2, -1px -1px 0 #F2F2F2;
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 20px;
}

.carte_activ2 img {
    display: flex;
    align-self: center;
    height: 12em;
    width: 100%;
    position: relative;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

.carte_activ3 {
    box-shadow: 4px 4px 12px #F2F2F2, -1px -1px 0 #F2F2F2;
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 20px;
}

.carte_activ3 img {
    display: flex;
    align-self: center;
    height: 10em;
    width: 100%;
    position: relative;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

.carte_activ4 {
    box-shadow: 4px 4px 12px #F2F2F2, -1px -1px 0 #F2F2F2;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.carte_activ4 img {
    display: flex;
    align-self: center;
    height: 10em;
    width: 100%;
    position: relative;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

.espace_activ {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    width: 250px;
    margin-right: 40px;
}

#activiter h4 {
    margin-left: 10px;
}

#activiter {
    margin-top: 50px;
}


/*Footer*/

ul {
    list-style-type: none;
}

#fin {
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    padding-bottom: 20px;
}

#fin li {
    margin: 0 0 10px 0;
}

.list {
    margin: 20px 200px 0 0;
}

.titre_liste {
    font-weight: bold;
    font-size: 1.1em;
}

@media screen and (max-width: 992px) {
    #block1 {
        display: flex;
        justify-content: center;
    }
    section {
        display: flex;
        flex-direction: column-reverse;
    }
    #block_populaire {
        align-content: center;
    }
    aside {
        width: 100%;
    }
    article {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #All_Page {
        margin: 0;
    }
    #logo_titre {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #logo_titre img {
        margin-left: 20px;
    }
    .inscription {
        position: absolute;
        top: 25px;
        right: 30px;
    }
    nav {
        margin: 20px 0 20px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .pour {
        width: 50%;
        border-bottom: solid 2px #F2F2F2;
        padding-bottom: 10px;
        text-align: center;
    }
    .pour:hover {
        border-bottom: solid 2px #0065FC;
        padding: 0 0 10px 0;
    }
    .encre2:hover {
        border-top: none;
    }
    #recherche {
        justify-content: center;
    }
    #recherche p {
        display: none;
    }
    .recherche_mobile {
        border: solid 2px #0065FC;
        border-radius: 15px 15px 15px 15px;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0065FC;
        font-size: 1.15em;
        color: white;
        margin-left: -10px;
        -webkit-border-radius: 15px 15px 15px 15px;
        -moz-border-radius: 15px 15px 15px 15px;
        -ms-border-radius: 15px 15px 15px 15px;
        -o-border-radius: 15px 15px 15px 15px;
    }
    section {
        display: flex;
        flex-direction: column-reverse;
    }
    article {
        width: 100%;
        margin: 2.5px;
        background-color: white;
    }
    article h2 {
        margin-left: 25px;
    }
    #block1 {
        width: 100%;
        margin: 0%;
        display: flex;
        justify-content: center;
    }
    .carte1 {
        width: 90%;
        margin: 10px 0 10px 0;
    }
    aside {
        width: 100%;
    }
    .carte_populaire {
        width: 100%;
    }
    #activiter h2 {
        margin-left: 25px;
    }
    .carte_activ1,
    .carte_activ2,
    .carte_activ3,
    .carte_activ4 {
        display: flex;
        flex-direction: column;
        height: 200px;
        width: 90%;
        margin-bottom: 40px;
    }
    .carte_activ1 img {
        width: 100%;
    }
    #all_carte_activ {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .espace_activ {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .espace_activ {
        margin-right: 0;
    }
}

.etoile_cartes {
    display: flex;
    flex-flow: wrap row;
    height: auto;
}

.etoile_bleu {
    color: #0065FC;
}

.etoile_grise {
    color: #F2F2F2;
}